#
# This list is used by git-shortlog to aggregate contributions.  It is
# necessary when either the author's full name is not always written
# the same way, and/or the same author contributes from different
# email addresses.
#

Marcus Cvjeticanin <mjovanc@icloud.com>
Chase Willden <chase.willden@gmail.com>
Joseph "Jojo" Sutton <ebwebdev@gmail.com>
